/*-----------------------------
            FADE IN
------------------------------*/
.fade-in {
  opacity: 0;
  -webkit-animation: .5s fadeIn ease 0s forwards 1;
  -moz-animation: .5s fadeIn ease 0s forwards 1;
  animation: .5s fadeIn ease 0s forwards 1;
}

/*-----------------------------
            FADE OUT
------------------------------*/
.fade-out {
  opacity: 1;
  -webkit-animation: .5s fadeOut ease 0s forwards 1;
  -moz-animation: .5s fadeOut ease 0s forwards 1;
  animation: .5s fadeOut ease 0s forwards 1;
}

/*-----------------------------
       SLIDE IN FROM LEFT
------------------------------*/
.slide-in-left {
  position: absolute;
  -webkit-animation: .5s slideInFromLeft ease 0s forwards 1;
  -moz-animation: .5s slideInFromLeft ease 0s forwards 1;
  animation: .5s slideInFromLeft ease 0s forwards 1;
}

/*-----------------------------
       SLIDE IN FROM RIGHT
------------------------------*/
.slide-in-right {
  position: absolute;
  -webkit-animation: .5s slideInFromRight ease 0s forwards 1;
  -moz-animation: .5s slideInFromRight ease 0s forwards 1;
  animation: .5s slideInFromRight ease 0s forwards 1;
}

/*-----------------------------
       SLIDE IN FROM TOP
------------------------------*/
.slide-in-top {
  position: absolute;
  -webkit-animation: .5s slideInFromTop ease 0s forwards 1;
  -moz-animation: .5s slideInFromTop ease 0s forwards 1;
  animation: .5s slideInFromTop ease 0s forwards 1;
}

/*-----------------------------
       SLIDE IN FROM BOTTOM
------------------------------*/
.slide-in-bottom {
  position: absolute;
  -webkit-animation: .5s slideInFromBottom ease 3s forwards 1;
  -moz-animation: .5s slideInFromBottom ease 3s forwards 1;
  animation: .5s slideInFromBottom ease 3s forwards 1;
}


/*-----------------------------
          KEY FRAMES
------------------------------*/

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes slideInFromTop {
  0% {
    top: -$add-height
  }

  100% {
    top: 0px
  }
}

@keyframes slideInFromBottom {
  0% {
    top: $add-height
  }

  100% {
    top: 0px
  }
}

@keyframes slideInFromRight {
  0% {
    top : 0px;
    margin-left: $add-width
  }

  100% {
    top : 0px;
    margin-left: 0px
  }
}

@keyframes slideInFromLeft {
  0% {
    top : 0px;
    margin-left: -$add-width
  }

  100% {
    top : 0px;
    margin-left: 0px
  }
}