/*---------------------------
        ADD DIMENSIONS
-----------------------------*/
$add-width: 728px;
$add-height: 90px;


/*---------------------------
            COLORS
-----------------------------*/
$primary_red: #da291c;
$primary_burgundy: #770520;
$primary_black: #000000;
$primary_white: #ffffff;
$primary_grey: #cac9c7;