 #main{
    width: 160px;
    height: 600px;
    display: grid; 
}


#frame1{
    background-color: red;
    grid-column: 1;
    grid-row: 1;
    height: 50px;

}
#frame2{
    background-color:green;
    grid-column: 1;
    grid-row: 2 ;
}
#frame3{
    background-color: blue;
    grid-column: 1;
    grid-row: 3;
    height: 300px;
}
#frame4{
    background-color: black;
    color: white;
    grid-column: 1;
    grid-row: 4;
    height: 45px;
}
#frame5{
    background-color: white;
    grid-column: 1;
    grid-row: 5;
    height: 40px;
}

/*Sass! necesito sass y no tengo sass*/


 /* copia para responsive

@media (max-width: 300px) {

    #frame1{
        grid-column: 1;
        grid-row: 1;
    }

    #frame2{
        grid-column: 1;
        grid-row: 2 ;
    }
    #frame3{
        grid-column: 1;
        grid-row: 3;
        height: 300px;
    }
    #frame4{
        grid-column: 1;
        grid-row: 4;
        height: 45px;
    }
    #frame5{
        grid-column: 1;
        grid-row: 5;
        height: 40px;
    }
}

*/